# web application files
/web-app

# IDE support files
/.classpath
/.launch
/.project
/.settings
/*.launch
/*.tmproj
/ivy*
/eclipse

# default HSQL database files for production mode
/prodDb.*

# general HSQL database files
*Db.properties
*Db.script

# logs
/*.log
/test/reports
/logs

# plugin release file
/*.zip

# "temporary" build files
/target

# other
*.iws

