<plugin name='google-analytics-tracker' version='0.1' grailsVersion='2.0 &gt; *'>
  <author>André Guimarães Sakata</author>
  <authorEmail>andre.sakata@informant.com.br</authorEmail>
  <title>Google Analytics Tracker Plugin</title>
  <description>This plugin provides a simple way to embed your web application with page view tracking and event tracking of Google Analytics.</description>
  <documentation>http://grails.org/plugin/google-analytics-tracker-plugin</documentation>
  <type>GoogleAnalyticsTrackerGrailsPlugin</type>
  <resources>
    <resource>GoogleAnalyticsTrackerTagLib</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>